<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="file" fileName="loadbalancer-${date:yyyyMMdd-HHmmss}.log" append="false" filePattern="loadbalancer%d{yyyyMMdd-HHmmss}.%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="file" />
			<AppenderRef ref="Console" level="ERROR" />
		</Root>
	</Loggers>
</Configuration>
